<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.mdworkbench.com/fiacreMM"
            class="com.sodius.mdw.metamodel.fiacremm.FiacreMMPackage"
            genModel="metamodel/fiacreMM.genmodel"/>
   </extension>

  <extension point="com.sodius.mdw.core.metamodel">
    <metamodel id="fiacreMM" name="fiacreMM" version="3.0" presentationName="fiacreMM 3.0">
      <provider class="com.sodius.mdw.corext.model.emf.EMFMetamodelProvider">
        <epackage class="com.sodius.mdw.metamodel.fiacremm.FiacreMMPackage"/>
      </provider>

      <modelReader name="XMI" uriType="file" class="com.sodius.mdw.core.model.emf.EMFXMIModelReader">
        <fileExtension description="XMI files" extension="xmi"/>
        <fileExtension description="XML files" extension="xml"/>
      </modelReader>
      <modelWriter name="XMI 2.1" uriType="file" class="com.sodius.mdw.core.model.emf.EMFXMIModelWriter">
        <property name="xmiVersion" value="2.1"/>
        <fileExtension description="XMI files" extension="xmi"/>
        <fileExtension description="XML files" extension="xml"/>
      </modelWriter>    </metamodel>
  </extension>
</plugin>