<?xml version="1.0" encoding="UTF-8"?><launchConfiguration type="com.sodius.mdw.ide.ui.MDWApplication">
<booleanAttribute key="com.sodius.mdw.ide.IS_GENERATION_ATTR" value="false"/>
<booleanAttribute key="com.sodius.mdw.ide.IS_RULE_ATTR" value="true"/>
<stringAttribute key="com.sodius.mdw.ide.MAIN_ELEMENT_ATTR" value="generateFiacreMain.toFiacre.main"/>
<listAttribute key="com.sodius.mdw.ide.PARAMETERS_ATTR">
<listEntry value="mdw:model:Rhapsody Application||in"/>
<listEntry value="mdw:model:XMI 2.1|${project_loc:umlToFiacre6.0}\generated\result|out"/>
</listAttribute>
<intAttribute key="com.sodius.mdw.ide.TEMPLATE_PARAMETER_COUNT_ATTR" value="2"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="umlToFiacre6.0"/>
</launchConfiguration>